<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous"></script>
<link rel="shortcut icon" href="/assets/images/favicon.ico">

<!-- Google Fonts - Share Tech -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Share+Tech&display=swap" rel="stylesheet">

<style>
/* All headers - Share Tech font */
* {
  font-family: 'Share Tech', sans-serif !important;
}

/* Code blocks - Share Tech Mono */
code, pre, .highlight {
  font-family: 'Share Tech Mono', monospace !important;
}
</style>
