# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Wiki | notnotnotveg 
email:
description: >- # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
twitter_username: notnotnotveg
github_username: notnotnotveg
minimal_mistakes_skin: dark
search: true
analytics:
  provider: "google-gtag"
  google:
    tracking_id: "G-ZHDS9F2TCP"
    anonymize_ip: false # default

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages
  - _includes/head/custom.html


# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "notnotnotveg"
  avatar : "/assets/images/profile.png"
  bio    : "Professional Internet Squirrel Chaser"
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/notnotnotveg"
    - label: "HackerOne"
      icon: "fa fa-bug"
      url: "https://hackerone.com/notnotnotveg"
    - label: "Bugcrowd"
      icon: "fa fa-bug"
      url: "https://bugcrowd.com/notnotnotveg"
    - label: "x"
      icon: "fa-brands fa-x-twitter"
      url: "https://x.com/notnotnotveg"
    - label: "Google VRP"
      icon: "fa fa-google"
      url: "https://bughunters.google.com/profile/977c1689-44db-4d53-95f9-c97dbde67dfb/awards"
footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/notnotnotveg"
    - label: "HackerOne"
      icon: "fa fa-bug"
      url: "https://hackerone.com/notnotnotveg"
    - label: "Bugcrowd"
      icon: "fa fa-bug"
      url: "https://bugcrowd.com/notnotnotveg"
    - label: "x"
      icon: "fa-brands fa-x-twitter"
      url: "https://x.com/notnotnotveg"
    - label: "Google VRP"
      icon: "fa fa-google"
      url: "https://bughunters.google.com/profile/977c1689-44db-4d53-95f9-c97dbde67dfb/awards"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

logo: /assets/images/favicon.ico
favicon: /assets/images/favicon.ico
og_image: /assets/images/favicon.ico

